version: "3.9"

services:
  backend:
    build: ./tech-int3-server
    expose:
      - "3001"
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: always
