:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-link: rgb(112, 76, 182);
}

body[data-theme="dark"] {
  --color-bg: #1e1e1e;
  --color-text: #f5f5f5;
  --color-link: #bb86fc;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: var(--color-link);
}
